<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todos</title>
  </head>
  <body>
    <h1>Things to do:</h1>
    <ul>
      {% for item in items %} 
        {% if item.done %}<li><strike>{{ item.name }}</strike>{% else %}<li>{{ item.name }}{% endif %}
        <span><a href="/toggle/{{ item.id }}">Toggle</a></span> <span><a href="/edit/{{ item.id }}">Edit</a></span> <span><a href="/delete/{{ item.id }}">Delete</a></span></li>
        {% empty %}
        <li>Nothing to do!</li>
      {% endfor %}
      <a href="/add">Add new</a>
    </ul>
  </body>
</html>
